<div class="container">
  <app-kendo-menu></app-kendo-menu>
  <kendo-chart [title]="{ text: 'Market Value of Major Banks /bln/' }">
    <kendo-chart-series>
      <kendo-chart-series-item type="radarLine" name="Market value as of 2007" [data]="banksData" field="pre"
        categoryField="name">
      </kendo-chart-series-item>
      <kendo-chart-series-item type="radarLine" name="Market value as of 2009" [data]="banksData" field="post"
        categoryField="name">
      </kendo-chart-series-item>
    </kendo-chart-series>
    <kendo-chart-value-axis>
      <kendo-chart-value-axis-item [labels]="{ format: 'C0' }">
      </kendo-chart-value-axis-item>
    </kendo-chart-value-axis>
    <kendo-chart-legend position="bottom"></kendo-chart-legend>
  </kendo-chart>
</div>