<h1>Kendo Charts Demo</h1>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="/kendo-line-chart">Line Chart</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/kendo-bar-chart">Bar Chart</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/kendo-donut-chart">Donut Chart</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/kendo-radar-chart">Radar Chart</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/kendo-pie-chart">Pie Chart</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/kendo-polar-chart">Polar Chart</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/kendo-bubble-chart">Bubble Chart</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/kendo-scatter-chart">Scatter Chart</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/kendo-area-chart">Area Chart</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/kendo-funnel-chart">Funnel Chart</a>
  </li>
</ul>